<!DOCTYPE html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!--> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-16x16.png}" sizes="16x16"/>
    <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-32x32.png}" sizes="32x32"/>

    <title>Altair Admin v2.10.0 - Login Page</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'/>

    <!-- uikit -->
    <link rel="stylesheet" th:href="@{/resources/static/bower_components/uikit/css/uikit.almost-flat.min.css}"/>

    <!-- altair admin login page -->
    <link rel="stylesheet" th:href="@{/resources/static/assets/css/login_page.min.css}" />

</head>
<body class="login_page">

    <div class="login_page_wrapper">
        <div class="md-card" id="login_card">
            <div class="md-card-content large-padding" id="login_form">
                <div class="login_heading">
                    <div class="user_avatar"></div>
                </div>
                <form method="post" th:action="@{/authenticate}">
                    <div class="uk-form-row">
                        <label for="login_username" th:text="#{login.username}">Username</label>
                        <input class="md-input" type="text" id="login_username" name="username" />
                    </div>
                    <div class="uk-form-row">
                        <label for="login_password" th:text="#{login.password}">Password</label>
                        <input class="md-input" type="password" id="login_password" name="password" />
                    </div>
                    <div class="uk-margin-medium-top">
                        <button type="submit"
                           class="md-btn md-btn-primary md-btn-block md-btn-large" th:text="#{login.singin}">
                            Sign In
                        </button>
                    </div>                    
                    <div class="uk-margin-top">
                        <a href="#" id="login_help_show" class="uk-float-right" >
                            <label th:text="#{login.help}">Need help?</label>
                        </a>
                        <span class="icheck-inline">
                            <input type="checkbox" name="_spring_security_remember_me" id="login_page_stay_signed" data-md-icheck />
                            <label for="login_page_stay_signed" class="inline-label" 
                                   th:text="#{login.staysignedin}">
                                Stay signed in
                            </label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="md-card-content large-padding uk-position-relative" id="login_help" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                <h2 class="heading_b uk-text-success" th:text="#{login.canotlogin}">Can't log in?</h2>
                <p><label th:text="#{login.canotlogin.parrafo1}">Here’s the info to get you back in to your account as quickly as possible.</label></p>
                <p><label th:text="#{login.canotlogin.parrafo2}">First, try the easiest thing: if you remember your password but it isn’t working, make sure that Caps Lock is turned off, and that your username is spelled correctly, and then try again.</label></p>
                <p><label th:text="#{login.canotlogin.parrafo3}">If your password still isn’t working, it’s time to</label> <a href="#" id="password_reset_show"><label th:text="#{login.resetyourpassword}">reset your password</label></a>.</p>
            </div>
            <div class="md-card-content large-padding" id="login_password_reset" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                <h2 class="heading_a uk-margin-large-bottom" th:text="#{login.resetpassword}">Reset password</h2>
                <form>
                    <div class="uk-form-row">
                        <label for="login_email_reset" th:text="#{login.youremailaddress}">Your email address</label>
                        <input class="md-input" type="text" id="login_email_reset" name="login_email_reset" />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a href="index.html" 
                           class="md-btn md-btn-primary md-btn-block">
                            <label th:text="#{login.resetpassword}">Reset password</label>
                        </a>
                    </div>
                </form>
            </div>
            <div class="md-card-content large-padding" id="register_form" style="display: none">
                <button type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                <h2 class="heading_a uk-margin-medium-bottom" 
                    th:text="#{login.createaccount}">
                    Create an account
                </h2>
                <form>
                    <div class="uk-form-row">
                        <label for="register_username" th:text="#{login.username}">Username</label>
                        <input class="md-input" type="text" id="register_username" name="register_username" />
                    </div>
                    <div class="uk-form-row">
                        <label for="register_password" th:text="#{login.password}">Password</label>
                        <input class="md-input" type="password" id="register_password" name="register_password" />
                    </div>
                    <div class="uk-form-row">
                        <label for="register_password_repeat" th:text="#{login.repeatpassword}">Repeat Password</label>
                        <input class="md-input" type="password" id="register_password_repeat" name="register_password_repeat" />
                    </div>
                    <div class="uk-form-row">
                        <label for="register_email" th:text="#{login.email}">E-mail</label>
                        <input class="md-input" type="text" id="register_email" name="register_email" />
                    </div>
                    <div class="uk-margin-medium-top">
                        <a href="index.html" 
                           class="md-btn md-btn-primary md-btn-block md-btn-large">
                            <label th:text="#{login.signup}">Sign Up</label>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-margin-top uk-text-center">
            <a href="#" id="signup_form_show">
                <label th:text="#{login.createaccount}">
                    Create an account
                </label>
            </a>
        </div>
    </div>

    <!-- common functions -->
    <script th:src="@{/resources/static/assets/js/common.min.js}"></script>
    <!-- uikit functions -->
    <script th:src="@{/resources/static/assets/js/uikit_custom.min.js}"></script>
    <!-- altair core functions -->
    <script th:src="@{/resources/static/assets/js/altair_admin_common.min.js}"></script>

    <!-- altair login page functions -->
    <script th:src="@{/resources/static/assets/js/pages/login.min.js}"></script>

    <script>
        // check for theme
        if (typeof(Storage) !== "undefined") {
            var root = document.getElementsByTagName( 'html' )[0],
                theme = localStorage.getItem("altair_theme");
            if(theme == 'app_theme_dark' || root.classList.contains('app_theme_dark')) {
                root.className += ' app_theme_dark';
            }
        }
    </script>

</body>
</html>