<!doctype html>
<!--[if lte IE 9]> <html class="lte-ie9" lang="en" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-16x16.png}" sizes="16x16">
    <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-32x32.png}" sizes="32x32">

    <title>Altair Admin v2.10.0 - 404 error</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

    <!-- uikit -->
    <link rel="stylesheet" th:href="@{/resources/static/bower_components/uikit/css/uikit.almost-flat.min.css}"/>

    <!-- altair admin error page -->
    <link rel="stylesheet" th:href="@{/resources/static/assets/css/error_page.min.css}" />

</head>
<body class="error_page">

    <div class="error_page_header">
        <div class="uk-width-8-10 uk-container-center">
            ERROR!
        </div>
    </div>
    <div class="error_page_content">
        <div class="uk-width-8-10 uk-container-center">
            <p class="heading_b">Ocurrio un error:</p>
            <p class="uk-text-large">
                <span class="uk-text-muted" th:text="${errorMessage}"></span>
            </p>
        </div>
    </div>

    <script>
        // check for theme
        if (typeof(Storage) !== "undefined") {
            var root = document.getElementsByTagName( 'html' )[0],
                theme = localStorage.getItem("altair_theme");
            if(theme == 'app_theme_dark' || root.classList.contains('app_theme_dark')) {
                root.className += ' app_theme_dark';
            }
        }
    </script>

</body>
</html>