<div class="uk-width-large-1-1 uk-row-first">
    <div class="uk-form-row">
        <div class="uk-width-large-1-1 uk-row-first">
            <div id="d1" class="md-input-wrapper">
                <label>NIT</label>
                <input type="text" class="md-input" id="nit">
                <span class="md-input-bar "></span>
            </div>      
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-width-large-1-1 uk-row-first">
            <div id="d2" class="md-input-wrapper">
                <label>Nombre</label>
                <input type="text" class="md-input" id="nombre">
                <span class="md-input-bar "></span>
            </div>      
        </div>
    </div>
    <div class="uk-form-row">
        <div id="d3" class="md-input-wrapper">
            <label>Descripción</label>
            <textarea cols="30" rows="4" class="md-input selecize_init" 
                      id="descripcion"
                      style="overflow-x: hidden; word-wrap: break-word; 
                      height: 121px;"></textarea>
            <span class="md-input-bar"></span>
        </div>
    </div>
    <div class="uk-form-row">
        <div id="d4" class="md-input-wrapper">
            <label>Razón Social</label>
            <textarea cols="30" rows="4" class="md-input selecize_init" 
                      id="razon_social"
                      style="overflow-x: hidden; word-wrap: break-word; 
                      height: 121px;"></textarea>
            <span class="md-input-bar"></span>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-large-1-2 uk-row-first">
                <div id="d5" class="md-input-wrapper">
                    <label>Correo Principal</label>
                    <input type="text" class="md-input" id="email_principal">
                    <span class="md-input-bar "></span>
                </div>      
            </div>
            <div class="uk-width-large-1-2 uk-row-first">
                <div id="d6" class="md-input-wrapper">
                    <label>Correo Alterno</label>
                    <input type="text" class="md-input" id="email_alterno">
                    <span class="md-input-bar "></span>
                </div>      
            </div>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-large-1-2 uk-row-first">
                <div id="d7" class="md-input-wrapper">
                    <label>Teléfono Principal</label>
                    <input type="text" class="md-input" id="telefono_principal">
                    <span class="md-input-bar "></span>
                </div>      
            </div>
            <div class="uk-width-large-1-2 uk-row-first">
                <div id="d8" class="md-input-wrapper">
                    <label>Teléfono Alterno</label>
                    <input type="text" class="md-input" id="telefono_alterno">
                    <span class="md-input-bar "></span>
                </div>      
            </div>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-width-large-1-1 uk-row-first">
            <div id="d9" class="md-input-wrapper">
                <label>Dirección Web</label>
                <input type="text" class="md-input" id="sitio_web">
                <span class="md-input-bar "></span>
            </div>      
        </div>
    </div>    
    <div class="uk-form-row">
        <div class="uk-width-1-1">
            <div id="file_upload-drop" class="uk-file-upload">
                <p class="uk-text">Suelte el logo aqui</p>
                <p class="uk-text-muted uk-text-small uk-margin-small-bottom">o</p>
                <a class="uk-form-file md-btn">Buscar Archivo<input id="file_upload-select" type="file"></a>
            </div>
            <div id="file_upload-progressbar" class="uk-progress uk-hidden">
                <div class="uk-progress-bar" style="width:0">0%</div>
            </div>
        </div>
    </div>
    <input type="hidden" id="_id" value=""/>
<!--    <div class="uk-form-row">
        <div class="uk-width-1-1">
            <div class="md-input-wrapper">
                <label>Licencia</label>
                <input type="text" class="md-input" >
                <span class="md-input-bar "></span>
            </div>
        </div>            
    </div>-->
</div>
