<div class="uk-width-large-1-1 uk-row-first">
    <div class="uk-form-row">
        <div class="uk-width-large-1-1 uk-row-first">
            <div id="d2" class="md-input-wrapper">
                <label>Nombre</label>
                <input type="text" class="md-input" id="nombre">
                <span class="md-input-bar "></span>
            </div>      
        </div>
    </div>
    <div class="uk-form-row">
        <div id="d3" class="md-input-wrapper">
            <label>Descripción</label>
            <textarea cols="30" rows="4" class="md-input selecize_init" 
                      id="descripcion"
                      style="overflow-x: hidden; word-wrap: break-word; 
                      height: 121px;"></textarea>
            <span class="md-input-bar"></span>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="md-card">
            <div class="md-card-content">
                <h3 class="heading_a">Permisos<div></div></h3>
                <div class="uk-grid" data-uk-grid-margin>                    
                    <div id="check_permiso">
<!--                        <span class="icheck-inline">
                            <input type="checkbox" name="checkbox_demo_inline_mercury" id="checkbox_demo_inline_1" data-md-icheck />
                            <label for="checkbox_demo_inline_1" class="inline-label">Mercury</label>
                        </span>
                        <span class="icheck-inline">
                            <input type="checkbox" name="checkbox_demo_inline_venus" id="checkbox_demo_inline_2" data-md-icheck />
                            <label for="checkbox_demo_inline_2" class="inline-label">Venus</label>
                        </span>
                        <span class="icheck-inline">
                            <input type="checkbox" name="checkbox_demo_inline_earth" id="checkbox_demo_inline_3" data-md-icheck />
                            <label for="checkbox_demo_inline_3" class="inline-label">Earth</label>
                        </span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="_id" value=""/>
</div>
