<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8"/>        
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>

        <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-16x16.png}" sizes="16x16"/>
        <link rel="icon" type="image/png" th:href="@{/resources/static/assets/img/favicon-32x32.png}" sizes="32x32"/>
                
        <!-- uikit -->
        <link rel="stylesheet" th:href="@{/resources/static/bower_components/uikit/css/uikit.almost-flat.min.css}" media="all">

        <!-- flag icons -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/icons/flags/flags.min.css}" media="all">

        <!-- style switcher -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/style_switcher.min.css}" media="all">

        <!-- altair admin -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/main.min.css}" media="all">

        <!-- themes -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/themes/themes_combined.min.css}" media="all">
        
        <!-- style switcher -->
        <link rel="stylesheet" th:href="@{/resources/static/assets/css/style_switcher.min.css}" media="all">
      
        <!-- kendo theme -->
        <link rel="stylesheet" th:href="@{/resources/static/kendo/styles/kendo.common-bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/resources/static/kendo/styles/kendo.custom.blue.css}" id="kendoCSS">
        
         
        
        <!-- matchMedia polyfill for testing media queries in JS -->
        <!--[if lte IE 9]>
            <script type="text/javascript" th:src="@{/resources/static/bower_components/matchMedia/matchMedia.js}"></script>
            <script type="text/javascript" th:src="@{/resources/static/bower_components/matchMedia/matchMedia.addListener.js}"></script>
            <link rel="stylesheet" th:href="@{assets/css/ie.css}" media="all">
        <![endif]-->

    </head>
    <body></body>
</html>
