<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <!-- main sidebar -->
        <aside th:fragment="sidebar"  id="sidebar_main">

            <div class="sidebar_main_header">
                <div class="sidebar_logo">
                    <a href="index.html" class="sSidebar_hide sidebar_logo_large">
                        <img class="logo_regular" th:src="@{/resources/static/assets/img/logo_main.png}" alt="" height="15" width="71"/>
                        <img class="logo_light" th:src="@{/resources/static/assets/img/logo_main_white.png}" alt="" height="15" width="71"/>
                    </a>
                    <a href="index.html" class="sSidebar_show sidebar_logo_small">
                        <img class="logo_regular" th:src="@{/resources/static/assets/img/logo_main_small.png}" alt="" height="32" width="32"/>
                        <img class="logo_light" th:src="@{/resources/static/assets/img/logo_main_small_light.png}" alt="" height="32" width="32"/>
                    </a>
                </div>
                <div class="sidebar_actions">
                    <a href="?lang=es" class="item-icon flag-ES" th:title="#{lang.spanish}" ></a>
                    <a href="?lang=en" class="item-icon flag-GB" th:title="#{lang.english}" ></a> 
                </div>
            </div>

            <div class="menu_section">
                <ul th:each="opcion : ${opciones}">
                    <li th:id="${#strings.replace(opcion.nombre,' ','')}" 
                        th:if="${opcion.enabled}" th:title="${opcion.descripcion}" 
                        th:onclick="'menu_select(\'' + ${#strings.replace(opcion.nombre,' ','')} + '\');'">
                        <a th:href="@{${opcion.url}}">
                            <span class="menu_icon">
                                <i class="material-icons" th:text="${opcion.icon}">&#xE871;</i>
                            </span>
                            <span class="menu_title" th:text="${opcion.nombre}">Dashboard</span>
                        </a>
                        <th:block th:if="${opcion.itemList != null}">
                            <ul th:id="'open_' + ${#strings.replace(opcion.nombre,' ','')}" 
                                th:if="${opcion.itemList.size() &gt; 0}" >
                                <li th:if="${item.enabled}" th:title="${item.descripcion}" 
                                    th:id="${#strings.replace(item.nombre,' ','')}"                                     
                                    th:onclick="'submenu_select(\'' + ${#strings.replace(item.nombre,' ','')} + '\');'"
                                    th:each="item : ${opcion.itemList}" >
                                    <a th:href="@{${item.url}}" th:text="${item.nombre}">Regular Chat</a>
                                </li>                            
                            </ul>
                        </th:block>
                        
                    </li>
                </ul>
            </div>
        </aside>
        <!-- main sidebar end -->
    </body>
</html>
